body {
    font-family: sans-serif;
    background-color: #292727;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    width: 20%;
    background-color: #292727;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li {
    text-align: center;
}

li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: #ffffff;
}

.active {
    background-color: #4CAF50;
    color: #ffffff;
}

div p,
h2 {
    text-align: center;
    margin-right: 0px;
    padding-left: 20%;
    padding-right: 20%;
}

.container {
    margin-left: 20%;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    padding: 0px;
}

.container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.row {
    grid-column-start: 1;
    grid-column-end: 20;
    height: 143px;
}

#r1 {
    background: #ec2c2c;
}

#r2 {
    background: #eebb14;
}

#r3 {
    background: #24b7f1;
}

#r4 {
    background: #e06602;
}

h2 {
    margin: 0px;
}